In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('../data/interim/otodom_interim.csv', index_col=0)
df.drop('index', axis=1, inplace=True)
df.head()

,address,price,price_m2,area_m2,rooms,floor,parking,market,build_yr,building_type,elevator,heating_type,max_floor,balcony,backyard,terrace,building_age,district,street
0,"Gdynia, Pustki Cisowskie-Demptowo, Pustki Ciso...",530000.0,6625.0,80.00,4.0,3.0,0,wtórny,1981.0,blok,0.0,miejskie,3.0,1,0,0,41.0,Pustki Cisowskie-Demptowo,NaN
1,"Gdynia, Oksywie, ul. Benisławskiego",477037.0,10982.0,43.44,2.0,0.0,1,pierwotny,2023.0,NaN,1.0,NaN,11.0,1,0,0,-1.0,Oksywie,NaN
2,"Gdynia, Orłowo, Bernadowska",1600000.0,24375.0,65.64,3.0,0.0,0,wtórny,2018.0,NaN,0.0,NaN,2.0,0,0,0,4.0,Orłowo,NaN
3,"Gdynia, Orłowo, Bernadowska",3399000.0,34571.0,98.32,4.0,1.0,1,wtórny,2020.0,NaN,0.0,NaN,2.0,1,0,0,2.0,Orłowo,NaN
4,"Gdynia, Pogórze",522950.0,8900.0,58.76,3.0,1.0,1,wtórny,2022.0,apartamentowiec,1.0,miejskie,3.0,1,0,0,0.0,Pogórze,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1753 entries, 0 to 1752
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address        1750 non-null   object
 1   price          1753 non-null   float64
 2   price_m2       1753 non-null   float64
 3   area_m2        1753 non-null   float64
 4   rooms          1751 non-null   float64
 5   floor          1737 non-null   float64
 6   parking        1753 non-null   int64
 7   market         1753 non-null   object
 8   build_yr       1519 non-null   float64
 9   building_type  1346 non-null   object
 10  elevator       1753 non-null   float64
 11  heating_type   1283 non-null   object
 12  max_floor      1704 non-null   float64
 13  balcony        1753 non-null   int64
 14  backyard       1753 non-null   int64
 15  terrace        1753 non-null   int64
 16  building_age   1519 non-null   float64
 17  district       1713 non-null   object
 18  street         48 non-null     object
dtypes: float64(9), int64(4), object(6)
memory usage: 273.9+ KB